@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background: #e5e5e5;
  height: 100%;
}
%tickets-font-main {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #a0b0b9;
}

%tickets-font-header {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #2196f3;
}
%tickets-font-info {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #4a4a4a;
}
%border-style {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

%tabs-font-style {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4a4a4a;
}
%filter-font-main {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
}
%filter-font-header {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

@import './app.scss';
@import './tickets.scss';
@import './tabs.scss';
@import './filter.scss';
