.tabs-btn {
  height: 50px;
  width: 50%;
  background-color: #ffffff;
  border: 1px solid #dfe5ec;
  @extend %tabs-font-style;
}
.tabs #fast {
  border-radius: 5px 0 0 5px;
  border-right: none;
}
.tabs #cheap {
  border-radius: 0 5px 5px 0;
  border-left: none;
}

.tabs-btn:hover {
  background-color: #2196f3;
  border-color: #2196f3;
  color: #fff;
}
