.ticket {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 66px repeat(2, 1fr);
  grid-template-areas: 'HEADER''MAIN';
  grid-row-gap: 10px;
  padding: 20px;
  padding-top: 0;
  @extend %border-style;
}
.ticket h3 {
  margin: 0;
  @extend %tickets-font-main;
}
.ticket h1 {
  margin-top: 26px;
  @extend %tickets-font-header;
}
.ticket span {
  @extend %tickets-font-info;
}
.ticket img {
  width: 110px;
  height: auto;
}
.header{
  display: grid;
  grid-area: HEADER;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'price . avlogo';
}
.price{
  @extend %tickets-font-header;
  grid-area: price;
  align-self:center;
}
.av-logo {
  grid-area: avlogo;
  align-self: center;
}
.route {
  grid-area: route;
}
.time{
  grid-area: time;
}
.headerDuration{
  grid-area: headerDuration;
}
.durationTime{
  grid-area: durationTime;
}
.stopsHeader{
  grid-area: stopsHeader;
}
//.duration {
//  grid-area: duration;
//}
.stops {
  grid-area: stops;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'route headerDuration stopsHeader' 'time durationTime stops';

}
